
h1 {
    background-color:green;
    height: 200px;
    opacity: .4;
    color: rgb(21, 207, 61);
    font-size: 80px;
}

/*Commands to Float Image Left and Maintain Proper Word Wrap*/
img{
    float: left;
}

.picone{
    display:block;
}

.pictwo{
    clear:left;
}
/*End of Commands Float Image Left and Maintain Proper Word Wrap*/

/*Beginning Paragraph Border and Styling*/
.pborder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: olivedrab;
}

.pborder1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    background-color: olivedrab;
    border-style: double;
    padding: 5%;
}
/*End of Paragraph Border and Styling*/


/*Beginning the Nav Buttons CSS*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
/*End of the Nav Buttons CSS*/

/*Beginning of Table of Artisans CSS*/
  .tablecss {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
  }

/*End of the Table of Artisans CSS*/
